/* START copy this style for the common part
(header - social, logo, search and nav)*/
* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;!important
}

.top-area {
    background-color: #efedea;
    font-size: 13px;
    font-weight: 500;
}

.fa-brands {
    padding-right: 10px;
}

a {
    text-decoration: none;
    
}

i {
    color: #416ca6;
}

.nav {
    padding-bottom: 20px;
}
.nav-link {
    color: #416ca6;
}
/* END copy this style for the common part
(header - social, logo, search and nav) */

.main {
    height: auto; /*960px for common parts*/
    border-style: dashed;
    border-color: #8c480d;
}

.main-page-content {
    justify-content:flex-start;
    align-self: start;
    float: left;
    margin-right: 100px; /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@font-face {
    font-family:'CandyCane' ;
    src: url('/FONTS/transfonter.org-20240103-160555/CandyCanePersonalUse-Regular.eot'); /*IE9 COMPAT MODES*/
    src: url('/FONTS/transfonter.org-20240103-160555/CandyCanePersonalUse-Regular.svg#svgFontName') format('svg'); /*Legacy iOS*/
    src: url('/FONTS/transfonter.org-20240103-160555/CandyCanePersonalUse-Regular.ttf') format('truetype'); /*Safari, Android, iOS*/
    src: url('/FONTS/transfonter.org-20240103-160555/CandyCanePersonalUse-Regular.woff') format('woff'); /*Pretty Modern Browsers*/
    src: url('/FONTS/transfonter.org-20240103-160555/CandyCanePersonalUse-Regular.woff2') format('woff2'); /*Super Modern Browsers*/
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}


  @media screen and (max-height: 450px) {
    #fixed-sidebar {padding-top: 10px;}
    #fixed-sidebar a {font-size: 12px;}
  }

.container {
    font-family: 'Lexend Deca', sans-serif;!important
}

.container-fluid {
    font-family: 'Lexend Deca', sans-serif;!important
}

#fixed-sidebar{
    width:130;
    height: auto;
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: #8c480d;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#fixed-sidebar a {
    color: #efedea;
}

.hover {
   
}

.col-2 {
    background-image: url(/imagesRecipePage/White\ Blue\ Snowflake\ Pattern.png);
    float: right;
    justify-content:right;
    align-self: flex-end;
}


body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #efedea;
}

#recipe-title, h1 {
    color: #c22132;
    font-family: 'Lexend Deca', sans-serif;
}

.content-above-image {
    color: black;
}

.recipe-image {
    width:auto;
    height: auto;
    float: left;
    align-self: flex-start;
}

.zoom {
    padding: 20px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
   
  }

.zoom img {
    border-color: #25762c;
    width: 100%;
    transition: 0.5s all ease-in-out;
   
}
  
  .zoom:hover img {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
